# Copier en .env a la racine pour configurer docker-compose
# (docker-compose lit .env automatiquement)

INFERENCE_TYPE=ollama
INFERENCE_URL=http://host.docker.internal:11434
MODEL_NAME=phi3.5-financial
